<div id="app-head">
  <nav class="navbar navbar-expand-lg bg-light" >
    <div class="container-fluid" style="background-color: #F8F9FA; margin: 0; height: 100%;">
      <a class="navbar-brand" routerLink="">Servitium</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 30%;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-info" routerLink="/prestation/1" fxLayout="row"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon><div>Deposer une annonce</div></button>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/prestation/1/demandes" fxLayout="row">Mes demandes <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="error" style="color:red; margin-left: 5px;"  ></mat-icon></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/prestation/1/missions">Mes missions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/prestation/1/annonces">Mes annonces</a>
          </li>
        </ul> 
    </div>
    <div style="margin-right: 20px;" fxLayout="column">
      <img routerLink="/profil/1" style="width:35px ; height:35px ;cursor: pointer;" src="../../../assets/presentation/icon-profil.svg">
      <p style="margin: 0; font-size: 14px;">Profil</p>
    </div>
    </div>
    
  </nav>
</div>
