<div id="prestation-list" fxLayout="column">
    <app-profil-header></app-profil-header>
    <div >
        <h1 class="list-container" fxLayoutAlign="center center">Vos Annonces</h1>
        <app-prestation-item ></app-prestation-item>
        <app-prestation-item ></app-prestation-item>
        <app-prestation-item ></app-prestation-item>
        <app-prestation-item ></app-prestation-item>
        <app-prestation-item ></app-prestation-item>
        <app-prestation-item ></app-prestation-item>
    </div>
</div>
