<div id="prestation-list" fxLayout="column">
    <app-profil-header></app-profil-header>
    <div class="list-container">
        <h1 fxLayoutAlign="center center">Vos missions</h1>
        <app-prestation-item></app-prestation-item>
        <app-prestation-item></app-prestation-item>
        <app-prestation-item></app-prestation-item>
        <app-prestation-item></app-prestation-item>
        <app-prestation-item></app-prestation-item>
        <app-prestation-item></app-prestation-item>
        <app-prestation-item></app-prestation-item>
    </div>
</div>