<div id="profil-header">
    <div class="header" fxLayout.gt-xs="row">
        <div class="image-container">
            <img src="../../../../assets/presentation/pdp.webp">
        </div>
        <div fxLayout="column" style="width: 100%;">
            <div class="title">
                Djalil CHERFAOUI
            </div>
            <div class="info" fxLayout="row" >
                <div fxLayout="column" fxLayoutAlign="start center" style="margin: 20px 20px;font-size: 22px;  width: 50%;">
                    <div>Métier : Jardinier</div>
                    <div>mission à venir : 4</div>
                </div>
                <div style=" right: 0px; margin: 20px 20px; width: 50%;font-size: 22px;" fxLayout="column" fxLayoutAlign="end center">
                    <div>Revenu de ce mois : 1500 €</div> 
                    <div style="padding: 10px 20px 0px 20px;">
                        <mat-icon  aria-hidden="false" fontIcon="star" style="width:40px ; height:30px; color: gold; font-size: 34px;"></mat-icon>
                        <mat-icon  aria-hidden="false" fontIcon="star" style="width:40px ; height:30px; color: gold; font-size: 34px;"></mat-icon>
                        <mat-icon  aria-hidden="false" fontIcon="star" style="width:40px ; height:30px; color: gold; font-size: 34px;"></mat-icon>
                        <mat-icon  aria-hidden="false" fontIcon="star" style="width:40px ; height:30px; color: gold; font-size: 34px;"></mat-icon>
                        <mat-icon  aria-hidden="false" fontIcon="star" style="width:40px ; height:30px; color: gold; font-size: 34px;"></mat-icon>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
