<div id="prestation-demande-client" fxLayout="column">
    <app-prestation-item [isClientView]="true" [isDone]="true" [onGoing]="true"></app-prestation-item>
    <app-prestation-item [isClientView]="true" [isDone]="false" [onGoing]="true"></app-prestation-item>
    <app-prestation-item [isClientView]="true" [isDone]="false" [onGoing]="true"></app-prestation-item>
    <app-prestation-item [isClientView]="true" [isDone]="true" [onGoing]="true"></app-prestation-item>
    <app-prestation-item [isClientView]="true" [isDone]="true" [onGoing]="true"></app-prestation-item>
</div>
