<div class="content-box" fxLayout="column">
    
    <div style="margin: 20px;" fxLayout="row">
        <div class="col" style="flex:0 ;">
            <div ngbDropdown class="d-inline-block" style="width: 100%;">
              <button type="button"  class="btn btn" style="width: 100%; border-radius: 0px; border: black solid 0.5px; color: black; background-color:rgb(235, 233, 233) ;"
               id="dropdownBasic1" ngbDropdownToggle>Catégories</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Jardinage</button>
                <button ngbDropdownItem>Plombrie</button>
                <button ngbDropdownItem>maçonnerie</button>
                <button ngbDropdownItem>electricité</button>
              </div>
            </div>
        </div>
        <div class="col" >
            <div ngbDropdown class="d-inline-block" style="width: 100%;">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Saisissez une ville" aria-label="Username" aria-describedby="basic-addon1" ngbDropdownToggle>
                </div>
              <div ngbDropdownMenu  style="width: 100%;" aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Paris</button>
                <button ngbDropdownItem>Lyon</button>
                <button ngbDropdownItem>Lille</button>
              </div>
            </div>
        </div>
        <div>
            <button routerLink="/prestation/Jardinage/result" fxLayout="row" type="button" class="btn btn-info"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"  ></mat-icon>Recherche</button>
        </div>
    </div>
    
</div>
