.demande-container{
    .demande-box{
        padding: 10px;
        margin:  20px 10%;
        border: 1px solid rgb(233, 229, 229)!important;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    }
}