<div id="app-home" flLayout="column">
    <div fxLayout="row"  >
        <p fxFlex fxLayoutAlign="center center">Des millions de prestations pour subvenir à tous vos besoins !</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div>
            <img src="../../assets/presentation/workers.svg" style="max-width: 300px; max-height:300px ; ">
        </div>
        <app-carousel></app-carousel>
        <div>
            <img src="../../assets/presentation/dude.svg" style="max-width: 300px; max-height:300px ; ">
        </div>
    </div>
    <app-search-item></app-search-item>
    <div fxLayout="column" style="margin: 0 10% ;">
        <h1>Top préstataires</h1>
        <div style="margin-top: 20px;" fxLayout="row wrap" >
           <app-prestation-card [code]="'plombier'"></app-prestation-card> 
           <app-prestation-card [code]="'macon'"></app-prestation-card> 
           <app-prestation-card [code]="'jardinier'"></app-prestation-card> 
           <app-prestation-card [code]="'electricien'"></app-prestation-card> 
          
        </div>
    </div>
</div>
